In [1]:
import pandas as pd

In [2]:
layout_dir = 'LH-Upimium/2 Warehouse Layout/'
data_dir = 'LH-Upimium/ob_stats_20200204b/'

In [3]:
df_multi_batch_pick_task = pd.read_csv(data_dir + 'multi_batch_pick_task.csv', names=['wave', 'sub-wave', 'created', 'zone', 'bin', 'item', 'order_qty', 'pick_qty', 'status'])
df_multi_batch_pick_task.created = pd.to_datetime(df_multi_batch_pick_task.created)
df_multi_batch_pick_task = df_multi_batch_pick_task.sort_values(['created']).reset_index(drop=True)
df_multi_batch_pick_task

,wave,sub-wave,created,zone,bin,item,order_qty,pick_qty,status
0,AZOYA,AZOYA.1,2019-10-19 08:27:45.350,FAST,16.05.1.04,10001929,1,1,C
1,AZOYA,AZOYA.2,2019-10-19 08:27:45.393,FAST,15.03.3.03,1000040,2,2,C
2,AZOYA,AZOYA.3,2019-10-19 08:27:45.440,FAST,15.03.3.03,1000040,1,1,C
3,AZOYA,AZOYA.4,2019-10-19 08:27:45.490,FAST,12.08.1.2,933830,1,1,C
4,AZOYA,AZOYA.4,2019-10-19 08:27:45.490,FAST,15.02.1.05,1000489,1,1,C
...,...,...,...,...,...,...,...,...,...
215286,67632,67632.4,2020-02-04 09:09:21.687,FAST,18.04.1.09,10001455,4,0,O
215287,67632,67632.4,2020-02-04 09:09:21.687,FAST,DISPENSARY,PERF502,2,0,O
215288,67632,67632.4,2020-02-04 09:09:21.687,FAST,22.10.3.02,848030,8,0,O
215289,67632,67632.4,2020-02-04 09:09:21.687,FAST,22.07.6.15,10002907,1,0,O
215290,67632,67632.4,2020-02-04 09:09:21.687,FAST,DISPENSARY,PERF80,1,0,O

In [4]:
df_multi_batch_pick_transaction_log = pd.read_csv(data_dir + 'multi_batch_pick_transaction_log.csv', names=['picked', 'user', 'subwave', 'wave', 'wave_created', 'zone', 'bin', 'item', 'qty'])
df_multi_batch_pick_transaction_log.wave_created = pd.to_datetime(df_multi_batch_pick_transaction_log.wave_created)
df_multi_batch_pick_transaction_log.picked = pd.to_datetime(df_multi_batch_pick_transaction_log.picked)
df_multi_batch_pick_transaction_log = df_multi_batch_pick_transaction_log.sort_values(['wave_created']).reset_index(drop=True)
df_multi_batch_pick_transaction_log

,picked,user,subwave,wave,wave_created,zone,bin,item,qty
0,2019-10-19 10:22:03.667,Andy,AZOYA.1,AZOYA,2019-10-19 08:27:45.350,FAST,16.05.1.04,10001929,1
1,2019-10-19 10:21:07.687,Andy,AZOYA.2,AZOYA,2019-10-19 08:27:45.393,FAST,15.03.3.03,1000040,2
2,2019-10-19 10:21:07.687,Andy,AZOYA.3,AZOYA,2019-10-19 08:27:45.440,FAST,15.03.3.03,1000040,1
3,2019-10-19 10:01:47.160,Andy,AZOYA.4,AZOYA,2019-10-19 08:27:45.490,FAST,12.08.1.2,933830,1
4,2019-10-19 10:35:12.387,Andy,AZOYA.4,AZOYA,2019-10-19 08:27:45.490,FAST,15.02.1.05,1000489,1
...,...,...,...,...,...,...,...,...,...
214194,2020-02-04 09:20:00.253,Out2,67631.20,67631,2020-02-04 08:24:19.773,FAST,14.09.4.04,252255,1
214195,2020-02-04 08:48:48.490,Out2,67631.20,67631,2020-02-04 08:24:19.773,FAST,10.09.1.1,269409,1
214196,2020-02-04 09:07:55.963,Out2,67631.20,67631,2020-02-04 08:24:19.773,FAST,11.02.1.1,5022,1
214197,2020-02-04 09:26:19.793,Out2,67631.20,67631,2020-02-04 08:24:19.773,FAST,19.08.2.03,406333,1
214198,2020-02-04 08:54:10.203,Out2,67631.20,67631,2020-02-04 08:24:19.773,FAST,10.07.1.1,377279,2

In [5]:
df_multi_carton_pick_task = pd.read_csv(data_dir + 'multi_carton_pick_task.csv', names=['wave', 'created', 'zone', 'bin', 'item', 'order_qty', 'pick_qty', 'status'])
df_multi_carton_pick_task.created = pd.to_datetime(df_multi_carton_pick_task.created)
df_multi_carton_pick_task = df_multi_carton_pick_task.sort_values(['created']).reset_index(drop=True)
df_multi_carton_pick_task

,wave,created,zone,bin,item,order_qty,pick_qty,status
0,SYD2016103329,2019-10-18 19:02:31.807,FAST,23.08.3.13,403903,4,4,C
1,PICKUP,2019-10-29 11:34:55.093,FAST,23.06.3.04,10001849,1,1,C
2,PICKUP,2019-10-29 11:34:55.093,FAST,16.03.3.04,10002769,1,1,C
3,PICKUP,2019-10-29 11:34:55.093,FAST,23.08.5.18,263591,7,7,C
4,PICKUP,2019-10-29 11:34:55.093,FAST,17.08.3.03,753947,16,16,C
...,...,...,...,...,...,...,...,...
24539,67666,2020-02-04 10:08:22.003,FAST,15.07.2.07,10001364,1,0,O
24540,67666,2020-02-04 10:08:22.003,FAST,15.07.2.07,10001364,1,0,O
24541,67666,2020-02-04 10:08:22.003,FAST,15.07.2.07,10001364,5,0,O
24542,67666,2020-02-04 10:08:22.003,FAST,15.07.2.07,10001364,1,0,O
24543,67666,2020-02-04 10:08:22.003,FAST,15.07.2.07,10001364,1,0,O

In [6]:
df_multi_carton_pick_transaction_log = pd.read_csv(data_dir + 'multi_carton_pick_transaction_log.csv', names=['picked', 'user', 'order', 'zone', 'bin', 'item', 'qty'])
df_multi_carton_pick_transaction_log.picked = pd.to_datetime(df_multi_carton_pick_transaction_log.picked)
df_multi_carton_pick_transaction_log = df_multi_carton_pick_transaction_log.sort_values(['picked']).reset_index(drop=True)
df_multi_carton_pick_transaction_log

,picked,user,order,zone,bin,item,qty
0,2019-10-18 19:12:04.310,sysadmin,AR41090650-65088,FAST,23.08.3.13,403903,4
1,2019-10-29 11:47:31.577,Andy,AR41118814-65210,FAST,16.09.5.13,10002772,1
2,2019-10-29 11:47:55.857,Andy,AR41118814-65210,FAST,16.03.3.04,10002769,1
3,2019-10-29 11:48:12.023,Andy,AR41118814-65210,FAST,P1.03.3.01,BONUS10002732,1
4,2019-10-29 11:48:25.637,Andy,AR41118814-65210,FAST,P1.03.4.01,BONUS10003651,1
...,...,...,...,...,...,...,...
24035,2020-02-04 10:51:58.150,Khey,AR41163143-67640,FAST,PENDING,10003358,4
24036,2020-02-04 10:51:58.163,Khey,AR41161393-67640,FAST,PENDING,10003358,4
24037,2020-02-04 10:51:58.163,Khey,AR41164504-67640,FAST,PENDING,10003358,3
24038,2020-02-04 10:51:58.163,Khey,AR41164126-67640,FAST,PENDING,10003358,4
24039,2020-02-04 10:51:58.180,Khey,AR41164223-67640,FAST,PENDING,10003358,2

In [7]:
df_order_line_detail = pd.read_csv(data_dir + 'order_line_detail.csv', names=['order', 'freight', 'order_type', 'status', 'subwave', 'created', 'wave', 'item', 'qty_ordered', 'qty_picked', 'qty_packed', 'qty_shipped'])
df_order_line_detail.created = pd.to_datetime(df_order_line_detail.created)
df_order_line_detail = df_order_line_detail.sort_values(['created']).reset_index(drop=True)
df_order_line_detail

,order,freight,order_type,status,subwave,created,wave,item,qty_ordered,qty_picked,qty_packed,qty_shipped
0,AR41090650-65088,POL_AUSPOST,AR,S,SYD2016103329,2019-10-18 19:02:32.133,NaN,403903,4,4,4,4
1,SO10890444-65091,POL_EWE_PACKAGE,SO,S,AZOYA.1,2019-10-19 08:27:45.350,AZOYA,10001929,1,1,1,1
2,SO10891601-65091,POL_EWE_PACKAGE,SO,S,AZOYA.2,2019-10-19 08:27:45.393,AZOYA,1000040,2,2,2,2
3,SO10891611-65091,POL_EWE_PACKAGE,SO,S,AZOYA.3,2019-10-19 08:27:45.440,AZOYA,1000040,1,1,1,1
4,SO10891500-65091,POL_EWE_PACKAGE,SO,S,AZOYA.4,2019-10-19 08:27:45.490,AZOYA,1000489,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
250646,AR41163920-67690,POL_INTL,AR,P,67690,NaT,NaN,19981,1,0,0,0
250647,AR41163884-67690,POL_INTL,AR,P,67690,NaT,NaN,120275,4,0,0,0
250648,AR41163920-67690,POL_INTL,AR,P,67690,NaT,NaN,267422,1,0,0,0
250649,AR41163920-67690,POL_INTL,AR,P,67690,NaT,NaN,247588,1,0,0,0
250650,AR41164150-67690,POL_INTL,AR,P,67690,NaT,NaN,307831,6,0,0,0

In [8]:
df_order_milestone = pd.read_csv(data_dir + 'order_milestone.csv', names=['order', 'freight', 'order_type', 'status', 'subwave', 'created', 'wave', 'imported', 'released', 'picked', 'packed', 'shipped', 'cancel'])
df_order_milestone.created = pd.to_datetime(df_order_milestone.created)
df_order_milestone.imported = pd.to_datetime(df_order_milestone.imported)
df_order_milestone.released = pd.to_datetime(df_order_milestone.released)
df_order_milestone.picked = pd.to_datetime(df_order_milestone.picked)
df_order_milestone.packed = pd.to_datetime(df_order_milestone.packed)
df_order_milestone.shipped = pd.to_datetime(df_order_milestone.shipped)
df_order_milestone.cancel = pd.to_datetime(df_order_milestone.cancel)
df_order_milestone = df_order_milestone.sort_values(['created']).reset_index(drop=True)
df_order_milestone

,order,freight,order_type,status,subwave,created,wave,imported,released,picked,packed,shipped,cancel
0,AR41090650-65088,POL_AUSPOST,AR,S,SYD2016103329,2019-10-18 19:02:32.133,NaN,2019-10-18 19:01:30.480,2019-10-18 19:02:32.070,2019-10-18 19:14:42.580,2019-10-18 19:20:31.743,2019-10-18 19:20:41.667,NaT
1,SO10890444-65091,POL_EWE_PACKAGE,SO,S,AZOYA.1,2019-10-19 08:27:45.350,AZOYA,2019-10-19 08:26:35.487,2019-10-19 08:27:45.020,2019-10-19 10:29:08.393,2019-10-19 10:29:55.750,2019-10-19 10:32:24.040,NaT
2,SO10891601-65091,POL_EWE_PACKAGE,SO,S,AZOYA.2,2019-10-19 08:27:45.393,AZOYA,2019-10-19 08:26:36.487,2019-10-19 08:27:45.380,2019-10-19 10:43:16.377,2019-10-19 10:44:32.207,2019-10-19 10:44:35.207,NaT
3,SO10891611-65091,POL_EWE_PACKAGE,SO,S,AZOYA.3,2019-10-19 08:27:45.440,AZOYA,2019-10-19 08:26:36.987,2019-10-19 08:27:45.427,2019-10-19 10:46:01.903,2019-10-19 10:46:26.430,2019-10-19 10:46:34.310,NaT
4,SO10891500-65091,POL_EWE_PACKAGE,SO,S,AZOYA.4,2019-10-19 08:27:45.490,AZOYA,2019-10-19 08:26:35.987,2019-10-19 08:27:45.473,2019-10-19 10:38:33.680,2019-10-19 10:39:15.290,2019-10-19 10:39:52.250,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95609,AR41161857-67690,POL_INTL,AR,P,67690,NaT,NaN,2020-02-04 15:07:31.147,NaT,NaT,NaT,NaT,NaT
95610,AR41163814-67690,POL_INTL,AR,P,67690,NaT,NaN,2020-02-04 15:07:35.143,2020-02-04 15:08:03.303,NaT,NaT,NaT,NaT
95611,AR41163966-67690,POL_INTL,AR,P,67690,NaT,NaN,2020-02-04 15:07:38.137,2020-02-04 15:08:03.460,NaT,NaT,NaT,NaT
95612,AR41163990-67690,POL_INTL,AR,P,67690,NaT,NaN,2020-02-04 15:07:38.637,2020-02-04 15:08:03.490,NaT,NaT,NaT,NaT
95613,AR41164618-67690,POL_INTL,AR,P,67690,NaT,NaN,2020-02-04 15:07:47.137,2020-02-04 15:08:03.897,NaT,NaT,NaT,NaT

In [9]:
df_layout = pd.read_excel(layout_dir + 'Bin Location configuration xyz.xlsx')
df_layout.columns = ['row', 'rack', 'bay', 'level', 'slot_y', 'slot_z', 'separator', 'bin_location', 'level_alpha', 'alpha_bin_location', 'check_digit', 'barcode', 'active', 'locator_description', 'pick_zone', 'put_zone', 'equipment_zone', 'locator_type', 'storage_type_id', 'storage_type', 'stock_lpn', 'stock_item', 'status', 'slot_sequence', 'slot_size', 'slot_type', 'slot_size_description', 'slot_width', 'slot_depth', 'slot_height', 'slot_volume', 'x', 'y', 'z', 'asc_desc', 'rack_sequence', 'travel_sequence']
df_layout

,row,rack,bay,level,slot_y,slot_z,separator,bin_location,level_alpha,alpha_bin_location,...,slot_width,slot_depth,slot_height,slot_volume,x,y,z,asc_desc,rack_sequence,travel_sequence
0,3,10,1,1,1,NaN,.,10.01.1.1,A,10.01.A.1,...,1295,1165,1410,NaN,0.84,0.000,0.00,D,1,3999
1,3,10,1,1,2,NaN,.,10.01.1.2,A,10.01.A.2,...,1295,1165,1410,NaN,0.84,1.295,0.00,D,1,3994
2,3,10,1,2,1,NaN,.,10.01.2.1,B,10.01.B.1,...,1295,1165,1410,NaN,0.84,0.000,1.60,D,1,3998
3,3,10,1,2,2,NaN,.,10.01.2.2,B,10.01.B.2,...,1295,1165,1410,NaN,0.84,1.295,1.60,D,1,3993
4,3,10,1,3,1,NaN,.,10.01.3.1,C,10.01.C.1,...,1295,1165,1410,NaN,0.84,0.000,3.20,D,1,3997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12970,75,PH,16,7,1,NaN,.,PH.16.07.1,NaN,NaN,...,600,200,200,NaN,31.00,-7.000,0.15,A,30,60156
12971,75,PH,16,8,1,NaN,.,PH.16.08.1,NaN,NaN,...,600,200,200,NaN,31.00,-7.000,0.15,A,30,60157
12972,75,PH,16,9,1,NaN,.,PH.16.09.1,NaN,NaN,...,600,200,200,NaN,31.00,-7.000,0.15,A,30,60158
12973,75,PH,16,10,1,NaN,.,PH.16.10.1,NaN,NaN,...,600,200,200,NaN,31.00,-7.000,0.15,A,30,60159
12974,76,PH,17,10,1,NaN,.,PH.17.10.1,NaN,NaN,...,600,200,200,NaN,31.00,-7.000,0.15,A,31,60160